extend ./layout

block title
  title Admin

block main

  h2 Messages

  p Hi #{locals.username}

  p
    a(href='/logout') logout when you're done

  ul#notifications


  section#scene
    iframe(src='http://#{locals.url}', sandbox='allow-same-origin allow-scripts', seamless='seamless', width='100%', height='800px')

  script(src='/js/app.js')
