doctype html
html(lang="en")
  head
    link(href='/styles/styles.css', rel="stylesheet", type="text/css")
    meta(charset='utf-8')
    block title
      title Seymour
  body
    header
      block header
        h1 Seymour
    article#page(role='main')
      block main
    footer

