extend ./layout

block title
  title Login

block main

  h1 Login to Seymour admin panel

  p
    a(href='/register') or register

  form(action='/login', method='post', novalidate='true')

    if locals.err && locals.err.message
      p.error=locals.err.message

    .form-row
      label(for='username') username
      input(id='username', name='username')
      if locals.err && locals.err.errors && locals.err.errors.username
        label.error=locals.err.errors.username.message

    .form-row
      label(for='password') password
      input(type='password', id='password', name='password')
      if locals.err && locals.err.errors && locals.err.errors.password
        label.error=locals.err.errors.password.message

    .form-row
      button(type='submit') Login

