@import 'reset'
@import 'type'
@import 'form'
@import 'links'

body {
  padding: 0;
  margin: 0;
  font: 100%/1 arial, sans-serif;
}

header {
  border-bottom: 1px solid;
  h1 {
    padding: 15px;
    margin: 0;
  }
}

article {
  padding: 15px;
  h2 {
    padding: 0;
    margin: 0;
  }
  #centre-content {
    margin: 0 auto;
    width: 20%;
    min-width: 400px;
  }
}

#scene {
  position: relative;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#notifications {
  background-color: #ffe840;
  border: 1px solid #1a1eb2;
  padding: 10px;
}

#notifications li {
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: arial;
  & input {
    visibility: hidden;
  }
  &.active {
    text-shadow: 3px 3px 3px #fff;
    text-decoration: underline;
    & input {
      visibility: visible;
      &:after {
        content: 'x';
      }
    }
  }
}
